body {
  background-color: #86e8ac;
  text-align: center;
  font-style: italic;
  color: #725008;
  font-size: 30px
}

p {
  line-height: 0
}

ul {
  list-style-position: inside;
  font-family: sans-serif;
}

ol {
  list-style-position: inside;
  font-family:cursive;
}
h1{
  font-size: 45px;
}
